@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
  background-color: #fbfbfd;
}

h1, h2, h3, h4, h5{
  font-family: 'Raleway', sans-serif;
}

.heading-top-bottom{
  margin-top: 70px;
  margin-bottom: 45px;
}

header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

.nav-style{
  background-color:transparent;
}

.menu-position{
    bottom: 15px;

}
nav .sidenav-trigger i {

    color: #333333;
}

.sidenav{
    background-color: #484848;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 0 0 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 0 0 0 rgb(0 0 0 / 20%);
}

.header-text{
        font-size: 2rem;
        line-height: 110%;
        margin-left: 50px;
}

.submit-fill{
  background-color: #4caf50;

}

.logo-style{
  position: relative;
  bottom: 56px;
  left: 23px;
  font-size: 22px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-family: 'Raleway';
  color: azure;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.form-width{
  width: 60%;
}

.margin-left-right{
  margin-left: 5px;
}

