@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

body{
  background-color: #fbfbfd;
  overflow-x: hidden;
}


h1, h2, h3, h4, h5{
  font-family: 'Raleway', sans-serif;
}

.heading-top-bottom{
  margin-top: 90px;
  margin-bottom: 45px;
}

.heading-top{
  margin-top: 70px;
}

header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }

.nav-style{
  background-color: #484848;
  height: 40px;
}

@media (max-width: 601px){
  .nav-style{
    background-color: #484848;
    height: 50px;
  }
}
.fixed-nav{
  position: fixed;
  top: 0;
  z-index: 2;
}

.sidenav .divider{
  margin-bottom: 12px;
}

nav .sidenav-trigger i {
    color: #ffffff;
    position: absolute;
    bottom: 13px;
}

@media (max-width: 601px){
  nav .sidenav-trigger i {
    bottom: 5px;
}
}

.sidenav{
    background-color: #484848;
}

.sidenav li>.log{
  font-weight: 300;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 0 0 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 0 0 0 rgb(0 0 0 / 20%);
}

.header-text{
        font-size: 2rem;
        line-height: 110%;
        margin-left: 50px;
}

.submit-fill{
  background-color: #933e55;
}

.submit-fill:hover {
  background-color: #88505f !important;
}

.logo-style{
  position: relative;
  bottom: 56px;
  left: 23px;
  font-size: 22px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-family: 'Raleway';
  color: azure;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.form-width{
  width: 60%;
}

form .row{
  margin-bottom: 10px;
}

.datepicker-date-display {
  background-color: #933e55;
}

@media (max-width: 690px){
  .form-width{
    width: 90%;
  }
}

.form-style{
  background-color: transparent;
  padding: 30px;
  margin-bottom: 50px;
  border-radius: 0.4rem;
}

.z-depth-3 {
  box-shadow: 0 8px 18px 2px rgb(0 0 0 / 14%), 0 0px 10px 3px rgb(0 0 0 / 14%), 0 2px 5px -1px #933e55;
}

.margin-left-right{
  margin-left: 5px;
}

.no-margin{
  margin-top: 0;
  margin-bottom: 0;
}

.activity-margin{
  margin-left: 7px;
  margin-right: 7px;
}

.collapsible-header{
  position: relative !important;
  height: 60px;
  
}

.assigned-to {
  float: right;
  position: absolute;
  right: 0;
  bottom: 32px;
  white-space: nowrap;
}

@media (max-width: 690px){
  .assigned-to {
    float: right;
    position: absolute;
    right: 150px;
    bottom: 6px;
    white-space: nowrap;
    font-size: 0.77rem;
  }
}

.relative{
  position: relative;
  padding-bottom: 45px;
}

.completed {
  
  height: 20px;
  background-color: #3e76af;
  font-size: x-small;
  float: right;
  position: absolute;
  right: 0px;
  bottom: 10px;
  white-space: nowrap;
}

.completed:hover {
  background-color: #5d94ca !important;
}

.submit-button {

  height: 25px;
  line-height: 32.4px;
  font-size: x-small;
}
  
.completed-text {
  position: relative;
  bottom: 6px;
}

.submit-text {
  position: relative;
  bottom: 3.5px;
}


.due-by {
  float: right;
  position: absolute;
  right: 0;
  bottom: 7px;
  white-space: nowrap;
  font-size: 0.77rem;
}

@media (max-width: 690px){
  .due-by {
    float: right;
    position: absolute;
    right: 0;
    bottom: 6px;
    white-space: nowrap;
  }
}

.activity-name {
  float: left;
  position: absolute;
  left: 110px;
  bottom: 20px;
}

@media (max-width: 992px) {
  .activity-name {
    float: left;
    position: absolute;
    left: 37px;
    bottom: 20px;
  }
}

@media (max-width: 690px) {
  .activity-name {
    float: left;
    position: absolute;
    left: 37px;
    bottom: 31px;
    font-size: 0.77rem;
  }
}

.activity-name-a {
  float: left;
  position: absolute;
  left: 60px;
  bottom: 20px;
}

@media (max-width: 690px) {
  .activity-name-a {
    float: left;
    position: absolute;
    left: 50px;
    bottom: 31px;
    font-size: 0.77rem;
  }
}

.input-field{
  margin: 2px 0;
}

.edit {
  color: #ef2121;
  background-color: transparent;
  font-weight: 500;
  float: left;
  position: absolute;
  left: 0;
  bottom: 15px;
  white-space: nowrap;
}

.edit:hover {
  background-color: #fff2f2 !important;
}

@media (max-width: 992px) {
  .edit{
      bottom: auto;
      float: right;
      position: absolute;
      right: 0px;
      bottom: 10px;
      white-space: nowrap;
  }
}

@media only screen and (min-width: 992px) {
  .hide-desktop{
    display:none;
    width: 40px;
    
  }
}

.edit-small{
  color: #ef2121;
  background-color: transparent;
  font-weight: 500;
  width: 60px;
  position: absolute;
  right: 0px;
  bottom: 10px;
  white-space: nowrap;
}

.edit-small:hover {
  background-color: #fff2f2;
}

.time-icon {
  float: left;
  position: absolute;
  left: 67px;
  bottom: 19px;
  white-space: nowrap;
}

@media (max-width: 992px) {
  .time-icon {
    float: left;
    position: absolute;
    left: 0;
    bottom: 20px;
  }
}

.time-icon-a {
  float: left;
  position: absolute;
  left: 0;
  bottom: 19px;
  white-space: nowrap;
}


.button-margin{
  margin: 3px;
}

.add-activity{
  margin-bottom: 30px;
  background-color: #933e55 !important;
  border-radius: 14px !important;
}

.add-activity:hover {
  background-color: #88505f !important;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: #d15576;
  font-size: inherit;

}