{% extends "base.html" %}
{% block content %}

<h5 class="center-align heading-top-bottom">Welcome to the Admin dashboard</h5>


<div class="row card-panel">
    <form class="col s12" method="POST" action="">
        <!-- assign to employee -->
        <div class="row">
            <div class="input-field col s12">
                <select id="assign_to" name="assign_to" class="validate" required>
                    <option value="" disabled selected>Select user</option>
                    {% for user in users %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
                <label for="assign_to">Assign activity to user</label>
            </div>
        </div>
        <!-- activity name -->
        <div class="row">
            <div class="input-field col s12">
                <input id="activity_name" name="activity_name" maxlength="60" type="text" class="validate" required>
                <label for="activity_name">Activity Name</label>
            </div>
        </div>
        <!-- activity description -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="activity_description" name="activity_description" minlength="5" maxlength="1000"
                    class="materialize-textarea validate" required></textarea>
                <label for="activity_description">Activity Description</label>
            </div>
        </div>
        <!-- activity due by -->
        <div class="row">
            <div class="input-field col s12">
                <input id="target_date" name="target_date" type="text" class="datepicker validate" required>
                <label for="target_date">Target Date</label>
            </div>
        </div>
        <!-- submit activity -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="col s12 m6 offset-m3 btn waves-effect waves-light submit-fill text-shadow">
                    Assign activity to user<i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>

{% if activities|length > 0 %}
  {% for activity in activities %}
  <div class="row">
    <ul class="col collapsible s12 heading-top no-margin">
      <li>
        <div class="collapsible-header">
            <a href="{{ url_for('edit_activity', activity_id=activity._id) }}" class="btn-small red lighten-1">Edit</a>
            <i id="conditional-bg-{{ loop.index }}" class="material-icons">schedule</i><strong>{{ activity.activity_name }}</strong>
            <span class="right-align activity-margin">Assigned to: {{ activity.username }}</span>
            <span class="right-align activity-margin">Due by: {{ activity.date_string }}</span>
            <span id="date-target-{{ loop.index }}" class="hide">{{ activity.target_date }}</span>
        </div>
        <div class="collapsible-body"><span><strong>{{ activity.activity_description }}</strong></span></div>
      </li>
    </ul>
  </div>
  {% endfor %}
{% else %}
<h3 class="center-align">You currently have no activities assigned</h3>
{% endif %}


{% endblock %}