{% extends "base.html" %}
{% block content %}

<h5 class="center-align heading-top-bottom">Welcome to the Admin dashboard</h5>

<div class="row center-align">
    <a id="add-activity" href="#!" class="btn-small waves-effect add-activity"> Assign new activity to user</a>
</div>
<div id="activity-form" class="row form-width form-style">
    <form class="col s12" method="POST" action="">
        <!-- assign to employee -->
        <div class="row">
            <div class="input-field col s12">
                <select id="assign_to" name="assign_to" class="validate" required>
                    <option value="" disabled selected>Select user</option>
                    {% for user in users %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
                <label for="assign_to">Assign activity to user</label>
            </div>
        </div>
        <!-- activity name -->
        <div class="row">
            <div class="input-field col s12">
                <input id="activity_name" name="activity_name" maxlength="55" type="text" class="validate" required>
                <label for="activity_name">Activity Name</label>
            </div>
        </div>
        <!-- activity description -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="activity_description" name="activity_description" minlength="5" maxlength="1000"
                    class="materialize-textarea validate" required></textarea>
                <label for="activity_description">Activity Description</label>
            </div>
        </div>
        <!-- activity due by -->
        <div class="row">
            <div class="input-field col s12">
                <input id="target_date" name="target_date" type="text" class="datepicker validate" required>
                <label for="target_date">Target Date</label>
            </div>
        </div>
        <!-- submit activity -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit"
                    class="btn-small submit-button col s12 m6 offset-m3 waves-effect waves-light submit-fill text-shadow">
                    <span class="submit-text">Submit<i class="material-icons right">send</i></span>
                </button>
            </div>
        </div>
    </form>
</div>


{% if activities|length > 0 %}
{% for activity in activities %}

<div class="row">
    <ul class="col collapsible s12 heading-top no-margin">
        <li>
            <div class="collapsible-header">
                <a href="{{ url_for('edit_activity', activity_id=activity._id) }}"
                    class="btn-small edit hide-on-med-and-down">Edit</a>
                <i id="conditional-bg-{{ loop.index }}" class="material-icons time-icon">schedule</i>
                <span
                    class="activity-name length-size-{{ loop.index }}"><strong>{{ activity.activity_name }}</strong></span>
                <span class="right-align activity-margin assigned-to">Assigned to: <strong>
                        {{ activity.username }}</strong> </span>
                <span class="right-align activity-margin due-by">Due by: <strong>
                        {{ activity.date_string }}</strong></span>
                <span id="date-target-{{ loop.index }}" class="hide">{{ activity.target_date }}</span>
            </div>
            <div class="collapsible-body relative">
                <span><a href="{{ url_for('edit_activity', activity_id=activity._id) }}"
                        class="btn-small hide-desktop edit-small">Edit</a></span>
                <span><strong>{{ activity.activity_description }}</strong></span></div>
        </li>
    </ul>
</div>

{% endfor %}
{% else %}
<h5 class="center-align">You currently have no activities assigned</h5>
{% endif %}


{% endblock %}