{% extends "base.html" %}
{% block content %}

<h5 class="center-align heading-top-bottom">Please edit the selected activity below</h5>


<div class="row form-width form-style">
    <form class="col s12" method="POST" action="{{ url_for('edit_activity', activity_id=activity._id) }}">
        <!-- assign to employee -->
        <div class="row">
            <div class="input-field col s12">
                <select id="assign_to" name="assign_to" class="validate" required>
                    {% for user in users %}
                    {% if user.username == activity.username %}
                    <option value="{{ user.username }}"selected>{{ user.username }}</option>
                    {% else %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="assign_to">Assign activity to user</label>
            </div>
        </div>
        <!-- activity name -->
        <div class="row">
            <div class="input-field col s12">
                <input id="activity_name" value="{{ activity.activity_name }}" name="activity_name" maxlength="60" type="text" class="validate" required>
                <label for="activity_name">Activity Name</label>
            </div>
        </div>
        <!-- activity description -->
        <div class="row">
            <div class="input-field col s12">
                <textarea id="activity_description" name="activity_description" minlength="5" maxlength="1000"
                    class="materialize-textarea validate" required>{{- activity.activity_description -}}</textarea>
                <label for="activity_description">Activity Description</label>
            </div>
        </div>
        <!-- activity due by -->
        <div class="row">
            <div class="input-field col s12">
                <input id="target_date" value="{{ activity.date_string }}" name="target_date" type="text" class="datepicker validate" required>
                <label for="target_date">Target Date</label>
            </div>
        </div>
        <!-- submit activity -->
        <div class="row">
            <div class="col s12 center-align">
                <a href="{{ url_for('completed', activity_id=activity._id) }}" class="btn-small blue button-margin">Completed</a>
                <button type="submit" class="col s12 m6 offset-m3 btn waves-effect waves-light submit-fill text-shadow">
                    Update activity<i class="material-icons right">send</i>
                </button>
                <a href="{{ url_for('delete_activity', activity_id=activity._id) }}" class="btn-small red button-margin">Delete activity</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}