{% extends "base.html" %}
{% block content %}

<h4 class="center-align heading-top-bottom">Log In</h4>

<!-- LOGIN FORM -->

<div class="row form-width">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="form-style login-margin">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" class="validate" required>
                    <label class="black-text" for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label class="black-text" for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit"
                    class="col s12 m6 offset-m3 center-align btn waves-effect waves-light submit-fill text-shadow">
                    Log in<i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <p class="center-align no-margin">
            Alternatively,
            <a href="{{ url_for('register') }}" class="red-text">Register</a> here.
        </p>
    </div>
</div>

{% endblock %}